body{
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("ou.jpg");
	background-position: center;
	color: #fff !important;
}
.Services{
	margin: 90px auto;
	text-align: right;
}
.h1{
	font-family: sans-serif;
	letter-spacing: 1px;
}
h1.after{
	content:'';
	background:white;
	display: block;
	width: 150px;
	height: 3px;
	margin: 10px auto;
}