*{
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 35px;
    padding: 10px;
    font-size: 18px;;
}
.all_area{
    background-image: url("sco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    border: 2px solid steelblue;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="name"],
select,
textarea{
   background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid chocolate;
    border-radius: 3px;
    margin: 5px;;
}
fieldset{
    background-color: transparent;
    border: 1px solid chocolate;
    border-radius: 3px;
}
.inq{
    text-align: center;
    font-size: 45px;
}
input[type="submit"],
input[type="reset"]{
    background-color: #1fae51;
    padding: 10px;
    margin-left: 6px;
    font-size: 25px;;
    border: none;
    text-decoration: solid;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: #e6bc15;
}
